.container-one {
  background-color: #f3abaa;
  border-bottom:4px solid black;
  padding: 60px;
}
.container-headline {
 background-image:url(https://icatcare.org/app/uploads/2018/06/Layer-1704-1920x840.jpg);
 background-size:cover;
 width:100%;
 height:350px;
}
.btn-group {
  background-color:white;
  border:2px solid #80ced6;
  width:100px;
  height:40px;
  color: black;
  cursor: pointer;
  float:right
}
.btn-group:after {
  content:"";
  clear: both;
  display:table;
}
.btn-group:hover {
  transition-duration:0.4s;
  background-color: #80ced6;
  color: black;
}
footer {
  text-align: center;
  padding: 3px;
  background-color: darkgray;
  color: white;
  border:2px solid black
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
 background: #f14a55;
 color: white;
}
.sanserif {
  font-family: Arial, Helvetica, sans-serif;
}
.navbar {
  overflow: hidden;
  background-color: #80ced6;
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}
.navbar a:hover {
  background: #ddd;
  color: black;
}
.main {
  padding: 16px;
  margin-top: 35px;
  height: 375px;
}
.container-headline-two {
  background-image:url(https://cdn.royalcanin-weshare-online.io/aGkhPmYBG95Xk-RBGt0V/v1/ec12h-5-key-milestones-in-your-kittens-growth-hero-cat);
  background-size:cover;
  width:100%;
  height:350px;
}
.container-headline-three {
  background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR6t64GBhqoFJuvBdcDMtCGSigo7OafYM5AxA&usqp=CAU);
  background-size:cover;
  width:100%;
  height:400px;
}
.container {
  position: relative;
  text-align: center;
  font-size: 40px;
  color: #ffffff;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.float-left {
  float: left;
  width: 100%;
}
.table-container {
  display: table;
  width: 100%;
}
.table-cell {
  display: table-cell;
  padding: 10px 0px 10px;
}
.left-cell {
  width: 60%;
}
